### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
## CLEAN, ORGANIZE AND COMPACT DATA
## Rename Columns
school_data = school_data.rename(columns={
    "school_name":"School Name",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget"
})

school_data_complete = school_data_complete.rename(columns={
    "student_name":"Student Name",
    "gender":"Gender",
    "grade":"Grade",
    "school_name":"School Name",
    "reading_score":"Reading Score",
    "math_score":"Math Score",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget"
})

## Compact DataFrame
compact_df = school_data_complete[[
    "Student Name",
    "Gender",
    "Grade",
    "School Name",
    "Reading Score",
    "Math Score",
    "School Type"
]]

In [3]:
compact_df.groupby("School Type")["Math Score"].mean()

School Type
Charter     83.406183
District    76.987026
Name: Math Score, dtype: float64

In [5]:
## DISTRICT SUMMARY
## 1. Compute Summary

## Total number of schools
total_schools = len(school_data["School Name"])

## Total number of students
total_students = school_data["Total Students"].sum()

## Total budget
total_budget = school_data["Total School Budget"].sum()

## Average math score
avg_math_score = compact_df["Math Score"].mean()

## Average reading score
avg_reading_score = compact_df["Reading Score"].mean()

## Percentage of students with a passing math score (70 or greater)
pct_math_pass = compact_df["Math Score"].loc[compact_df["Math Score"]>=70].count() / total_students

## Percentage of students with a passing reading score (70 or greater)
pct_reading_pass = compact_df["Reading Score"].loc[compact_df["Reading Score"]>=70].count() / total_students

## Percentage of students who passed math and reading (% Overall Passing)
pct_overall_pass = len(compact_df.loc[(compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70)]) / total_students

## Build Data Dictionary
data = {
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [pct_math_pass],
    "% Passing Reading": [pct_reading_pass],
    "% Overall Passing": [pct_overall_pass]
}

## Create Summary DataFrame
summary_df = pd.DataFrame(data=data)

## Display Summary DataFrame
summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [ ]:
compact_df.loc[(compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70), ["Grade"]].count() / 39710
len(compact_df.loc[(compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70)]) / 39170 * 100

In [6]:
data

{'Total Schools': [15],
 'Total Students': [39170],
 'Total Budget': [24649428],
 'Average Math Score': [78.98537145774827],
 'Average Reading Score': [81.87784018381414],
 '% Passing Math': [0.749808526933878],
 '% Passing Reading': [0.8580546336482001],
 '% Overall Passing': [0.6517232575950983]}

In [ ]:
district_summary = pd.DataFrame(columns=columns)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
school_data.head()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type