# PyCitySchools

Data Analysis of sample district-wide standarized test results for math and reading scores, grades 9 to 12.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
## INITIALIZE & LOAD DATA

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
## CLEAN, ORGANIZE AND COMPACT DATA

## Rename Columns for School Data DataFrame
school_data = school_data.rename(columns={
    "school_name": "School Name",
    "type": "School Type",
    "size": "Total Students",
    "budget": "Total School Budget"
})

## Rename Columns for Complete School Data DataFrame
school_data_complete = school_data_complete.rename(columns={
    "student_name": "Student Name",
    "gender": "Gender",
    "grade": "Grade",
    "school_name": "School Name",
    "reading_score": "Reading Score",
    "math_score": "Math Score",
    "type": "School Type",
    "size": "Total Students",
    "budget": "Total School Budget"
})

## Build School Analysis DataFrame
school_analysis = school_data_complete[[
    "Student Name",
    "Gender",
    "Grade",
    "School Name",
    "Reading Score",
    "Math Score",
    "School Type"
]]

In [3]:
## MATH, READING & OVERALL PASS VALIDATION (BOOLEANS)

## Validate Score Pass (with boolean) if [Score >= 70]
math_pass = school_analysis["Math Score"]>=70
reading_pass = school_analysis["Reading Score"]>=70
overall_pass = (school_analysis["Reading Score"]>=70) & (school_analysis["Math Score"]>=70)

## Insert Pass Validation into School Analysis DataFrame
school_analysis.insert(len(school_analysis.columns), "Math Pass", math_pass, allow_duplicates=False)
school_analysis.insert(len(school_analysis.columns), "Reading Pass", reading_pass, allow_duplicates=False)
school_analysis.insert(len(school_analysis.columns), "Overall Pass", overall_pass, allow_duplicates=False)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
## DISTRICT SUMMARY

## 1. Compute District Summary

## Total number of schools
total_schools = len(school_data["School Name"])
## Total number of students
total_students = school_data["Total Students"].sum()
## Total budget
total_budget = school_data["Total School Budget"].sum()
## Average math score
avg_math_score = school_analysis["Math Score"].mean()
## Average reading score
avg_reading_score = school_analysis["Reading Score"].mean()
## Percentage of students with a passing math score (70 or greater)
pct_math_pass = school_analysis["Math Pass"].sum() / total_students
## Percentage of students with a passing reading score (70 or greater)
pct_reading_pass = school_analysis["Reading Pass"].sum() / total_students
## Percentage of students who passed math and reading (% Overall Passing)
pct_overall_pass = school_analysis["Overall Pass"].sum() / total_students

## 2. Create & Display District Summary DataFrame

district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [pct_math_pass],
    "% Passing Reading": [pct_reading_pass],
    "% Overall Passing": [pct_overall_pass]
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
## SCHOOL SUMMARY

## 1. Build School Summary DataFrame from School Data

school_summary = school_data[["School Name", "School Type", "Total Students", "Total School Budget"]]
## Set School Name as index
school_summary = school_summary.set_index("School Name", drop=True)
## Remove index name
school_summary.index.name = None

## 2. Compute and append columns

## Per Student Budget
school_summary["Per Student Budget"] = school_summary["Total School Budget"] / school_summary["Total Students"]
## Average Math Score
school_summary["Average Math Score"] = school_analysis.groupby("School Name")["Math Score"].mean()
## Average Reading Score
school_summary["Average Reading Score"] = school_analysis.groupby("School Name")["Reading Score"].mean()
## Passing Math Percentage
school_summary["% Passing Math"] = school_analysis.groupby("School Name")["Math Pass"].sum() / school_summary["Total Students"]
## Passing Reading Percentage
school_summary["% Passing Reading"] = school_analysis.groupby("School Name")["Reading Pass"].sum() / school_summary["Total Students"]
## Overall Passing Percentage (students that passed math and reading)
school_summary["% Overall Passing"] = school_analysis.groupby("School Name")["Overall Pass"].sum() / school_summary["Total Students"]

## 3. Display School Summary (alphabetical order)
school_summary.sort_index(axis=0)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
## Sort by "% Overall Passing" & Display top 5
school_summary.sort_values("% Overall Passing", ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
## Sort by "% Overall Passing" & Display bottom 5
school_summary.sort_values("% Overall Passing", ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
## Get Math & Reading Scores by Grade
grade_9 = school_analysis[["School Name", "Math Score", "Reading Score"]].loc[school_analysis["Grade"] == "9th"]
grade_10 = school_analysis[["School Name", "Math Score", "Reading Score"]].loc[school_analysis["Grade"] == "10th"]
grade_11 = school_analysis[["School Name", "Math Score", "Reading Score"]].loc[school_analysis["Grade"] == "11th"]
grade_12 = school_analysis[["School Name", "Math Score", "Reading Score"]].loc[school_analysis["Grade"] == "12th"]

In [9]:
## Build Math Scores by Grade DataFrame
math_by_grade = pd.DataFrame({
    "9th": grade_9.groupby("School Name")["Math Score"].mean(),
    "10th": grade_10.groupby("School Name")["Math Score"].mean(),
    "11th": grade_11.groupby("School Name")["Math Score"].mean(),
    "12th": grade_12.groupby("School Name")["Math Score"].mean()
})

## Remove index name
math_by_grade.index.name = None

## Display Math Scores by Grade (alphabetical order)
math_by_grade.sort_index(axis=0)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
## Build Reading Scores by Grade DataFrame
reading_by_grade = pd.DataFrame({
    "9th": grade_9.groupby("School Name")["Reading Score"].mean(),
    "10th": grade_10.groupby("School Name")["Reading Score"].mean(),
    "11th": grade_11.groupby("School Name")["Reading Score"].mean(),
    "12th": grade_12.groupby("School Name")["Reading Score"].mean()
})

## Remove index name
reading_by_grade.index.name = None

## Display Reading Scores by Grade (alphabetical order)
reading_by_grade.sort_index(axis=0)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [25]:
## Set binning parameters
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680" ]
## Test right=True/False behaviour
school_example = pd.DataFrame({"Per Student Budget" : [-1,0,1,584,585,586,629,630,631,644,645,646,679,680,681]})
school_example["Spending Ranges (Per Student)"] = pd.cut(school_example["Per Student Budget"], bins=spending_bins, labels=spending_labels, right=False, include_lowest=False)
school_example

    Per Student Budget Spending Ranges (Per Student)
0                   -1                           NaN
1                    0                         <$585
2                    1                         <$585
3                  584                         <$585
4                  585                      $585-630
5                  586                      $585-630
6                  629                      $585-630
7                  630                      $630-645
8                  631                      $630-645
9                  644                      $630-645
10                 645                      $645-680
11                 646                      $645-680
12                 679                      $645-680
13                 680                           NaN
14                 681                           NaN

In [11]:
school_summary["Per Student Budget"]

Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
Name: Per Student Budget, dtype: float64

In [20]:
## Compute Max & Min Spending (Per Student)
print(school_summary["Per Student Budget"].min(), school_summary["Per Student Budget"].max())

578.0 655.0

In [13]:
## Set Spending Ranges (Per Student) & Labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680" ]
spending_labels

['<$585', '$585-630', '$630-645', '$645-680']

In [26]:
## Add Spending Ranges (Per Student) column
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], bins=spending_bins, labels=spending_labels, right=False, include_lowest=False)
## Display categorization
school_summary[["Per Student Budget", "Spending Ranges (Per Student)"]]

                       Per Student Budget Spending Ranges (Per Student)
Huang High School                   655.0                      $645-680
Figueroa High School                639.0                      $630-645
Shelton High School                 600.0                      $585-630
Hernandez High School               652.0                      $645-680
Griffin High School                 625.0                      $585-630
Wilson High School                  578.0                         <$585
Cabrera High School                 582.0                         <$585
Bailey High School                  628.0                      $585-630
Holden High School                  581.0                         <$585
Pena High School                    609.0                      $585-630
Wright High School                  583.0                         <$585
Rodriguez High School               637.0                      $630-645
Johnson High School                 650.0                      $645-680
Ford High School                    644.0                      $630-645
Thomas High School                  638.0                      $630-645

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type