### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [281]:
## INITIALIZE & LOAD DATA

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [357]:
## CLEAN, ORGANIZE AND COMPACT DATA

## Rename Columns
school_data = school_data.rename(columns={
    "school_name":"School Name",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget"
})

## Rename Columns
school_data_complete = school_data_complete.rename(columns={
    "student_name":"Student Name",
    "gender":"Gender",
    "grade":"Grade",
    "school_name":"School Name",
    "reading_score":"Reading Score",
    "math_score":"Math Score",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget"
})

## Compact DataFrame
compact_df = school_data_complete[[
    "Student Name",
    "Gender",
    "Grade",
    "School Name",
    "Reading Score",
    "Math Score",
    "School Type"
]]

compact_df

,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School Type
0,Paul Bradley,M,9th,Huang High School,66,79,District
1,Victor Smith,M,12th,Huang High School,94,61,District
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District
4,Bonnie Ray,F,9th,Huang High School,97,84,District
...,...,...,...,...,...,...,...
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter

In [350]:
math_pass = (compact_df["Math Score"]>=70).array
reading_pass = (compact_df["Reading Score"]>=70).array
overall_pass = ((compact_df["Reading Score"]>=70) & (compact_df["Math Score"]>=70)).array
compact_df["Math Pass"] = math_pass
compact_df["Reading Pass"] = reading_pass
compact_df["Overall Pass"] = overall_pass
compact_df

<ipython-input-350-40e1fadcf7f8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compact_df["Math Pass"] = math_pass
<ipython-input-350-40e1fadcf7f8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compact_df["Reading Pass"] = reading_pass
<ipython-input-350-40e1fadcf7f8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compact_df["Overall Pass"] = overall_pass

,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School Type,Math Pass,Reading Pass,Overall Pass
0,Paul Bradley,M,9th,Huang High School,66,79,District,True,False,False
1,Victor Smith,M,12th,Huang High School,94,61,District,False,True,False
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,False,True,False
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,False,False,False
4,Bonnie Ray,F,9th,Huang High School,97,84,District,True,True,True
...,...,...,...,...,...,...,...,...,...,...
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,True,True,True
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,True,True,True
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,True,True,True
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,True,True,True
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,True,True,True

In [337]:
compact_df = compact_df.drop(columns=["Math Pass", "Reading Pass", "Overall Pass"])
compact_df

,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School Type
0,Paul Bradley,M,9th,Huang High School,66,79,District
1,Victor Smith,M,12th,Huang High School,94,61,District
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District
4,Bonnie Ray,F,9th,Huang High School,97,84,District
...,...,...,...,...,...,...,...
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [283]:
## DISTRICT SUMMARY

## 1. Compute Summary

## Total number of schools
total_schools = len(school_data["School Name"])
## Total number of students
total_students = school_data["Total Students"].sum()
## Total budget
total_budget = school_data["Total School Budget"].sum()
## Average math score
avg_math_score = compact_df["Math Score"].mean()
## Average reading score
avg_reading_score = compact_df["Reading Score"].mean()
## Percentage of students with a passing math score (70 or greater)
pct_math_pass = compact_df["Math Score"].loc[compact_df["Math Score"]>=70].count() / total_students
## Percentage of students with a passing reading score (70 or greater)
pct_reading_pass = compact_df["Reading Score"].loc[compact_df["Reading Score"]>=70].count() / total_students
## Percentage of students who passed math and reading (% Overall Passing)
pct_overall_pass = len(compact_df.loc[(compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70)]) / total_students

## 2. Build Data Dictionary

data = {
    "Total\\nSchools": [total_schools],
    "Total<br>Students": [total_students],
    "Total Budget": [total_budget],
    "Average\nMath Score": [avg_math_score],
    "Average\nReading Score": [avg_reading_score],
    "% Passing\nMath": [pct_math_pass],
    "% Passing\nReading": [pct_reading_pass],
    "% Overall\nPassing": [pct_overall_pass]
}

## 3. Create Summary DataFrame
district_summary = pd.DataFrame(data=data)

## 4. Display Summary DataFrame
district_summary

,Total\nSchools,Total<br>Students,Total Budget,Average\nMath Score,Average\nReading Score,% Passing\nMath,% Passing\nReading,% Overall\nPassing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [284]:
## SCHOOL SUMMARY

## 1. Create School Summary DataFrame from school_data

school_summary = school_data[["School Type", "Total Students", "Total School Budget"]]
index = school_data["School Name"]
index.name = None
school_summary = school_summary.set_index(index, drop=True)

In [285]:
## 2. Compute and append columns

## Per Student Budget
school_summary["Per Student Budget"] = school_summary["Total School Budget"] / school_summary["Total Students"]
## Average Math Score
school_summary["Average Math Score"] = compact_df.groupby("School Name")["Math Score"].mean()
## Average Reading Score
school_summary["Average Reading Score"] = compact_df.groupby("School Name")["Reading Score"].mean()
## Passing Math Percentage
#school_summary["% Passing Math"] = compact_df.groupby("School Name")["Math Score"]
## Passing Reading Percentage
#school_summary["Per Student Budget"] = 

##% Overall Passing Percentage (students that passed math and reading)
#school_summary["Per Student Budget"] =

In [275]:
math_pass = compact_df[["School Name","Math Score"]].loc[compact_df["Math Score"]>=70]
math_pass.groupby("School Name").count() #/ school_summary["Total Students"]

                       Math Score
School Name
Bailey High School           3318
Cabrera High School          1749
Figueroa High School         1946
Ford High School             1871
Griffin High School          1371
Hernandez High School        3094
Holden High School            395
Huang High School            1916
Johnson High School          3145
Pena High School              910
Rodriguez High School        2654
Shelton High School          1653
Thomas High School           1525
Wilson High School           2143
Wright High School           1680

In [276]:
#compact_df.groupby("School Name")["Passing Math"].sum() / school_summary["Total Students"]
pass_df = pd.DataFrame({
    "School Name": compact_df["School Name"],
    "Math Pass": (compact_df["Math Score"]>=70).array,
    "Reading Pass": (compact_df["Reading Score"]>=70).array,
    "Overall Pass": ((compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70)).array
})
pass_df.groupby("School Name")["Math Pass"].sum() #/ school_summary["Total Students"]

School Name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Math Pass, dtype: int64

In [277]:
school_summary.sort_index(axis=0)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000

In [358]:
compact_df.insert(len(compact_df.columns), "Math Pass", (compact_df["Math Score"]>=70).array, allow_duplicates=False)
compact_df.insert(len(compact_df.columns), "Reading Pass", (compact_df["Reading Score"]>=70).array, allow_duplicates=False)
compact_df.insert(len(compact_df.columns), "Overall Pass", ((compact_df["Math Score"]>=70) & (compact_df["Reading Score"]>=70)).array, allow_duplicates=False)

In [359]:
compact_df

,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School Type,Math Pass,Reading Pass,Overall Pass
0,Paul Bradley,M,9th,Huang High School,66,79,District,True,False,False
1,Victor Smith,M,12th,Huang High School,94,61,District,False,True,False
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,False,True,False
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,False,False,False
4,Bonnie Ray,F,9th,Huang High School,97,84,District,True,True,True
...,...,...,...,...,...,...,...,...,...,...
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,True,True,True
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,True,True,True
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,True,True,True
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,True,True,True
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,True,True,True

In [360]:
compact_df.groupby("School Name")["Reading Pass"].sum() / school_summary["Total Students"] *100

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [356]:
compact_df["ABC Column"] = compact_df["Math Score"]>=70
compact_df

<ipython-input-356-b0a2f461df2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compact_df["ABC Column"] = compact_df["Math Score"]>=70

,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School Type,ABC Column
0,Paul Bradley,M,9th,Huang High School,66,79,District,True
1,Victor Smith,M,12th,Huang High School,94,61,District,False
2,Kevin Rodriguez,M,12th,Huang High School,90,60,District,False
3,Dr. Richard Scott,M,12th,Huang High School,67,58,District,False
4,Bonnie Ray,F,9th,Huang High School,97,84,District,True
...,...,...,...,...,...,...,...,...
39165,Donna Howard,F,12th,Thomas High School,99,90,Charter,True
39166,Dawn Bell,F,10th,Thomas High School,95,70,Charter,True
39167,Rebecca Tanner,F,9th,Thomas High School,73,84,Charter,True
39168,Desiree Kidd,F,10th,Thomas High School,99,90,Charter,True
39169,Carolyn Jackson,F,11th,Thomas High School,95,75,Charter,True

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type