### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
## INITIALIZE & LOAD DATA

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
## CLEAN, ORGANIZE AND COMPACT DATA

## Rename Columns for School Data DataFrame
school_data = school_data.rename(columns={
    "school_name": "School Name",
    "type": "School Type",
    "size": "Total Students",
    "budget": "Total School Budget"
})

## Rename Columns for Complete School Data DataFrame
school_data_complete = school_data_complete.rename(columns={
    "student_name": "Student Name",
    "gender": "Gender",
    "grade": "Grade",
    "school_name": "School Name",
    "reading_score": "Reading Score",
    "math_score": "Math Score",
    "type": "School Type",
    "size": "Total Students",
    "budget": "Total School Budget"
})

## Build School Analysis DataFrame
school_analysis = school_data_complete[[
    "Student Name",
    "Gender",
    "Grade",
    "School Name",
    "Reading Score",
    "Math Score",
    "School Type"
]]

In [3]:
## MATH, READING & OVERALL PASS VALIDATION (BOOLEANS)

## Validate score pass (with boolean) if [Score >= 70]
math_pass = school_analysis["Math Score"]>=70
reading_pass = school_analysis["Reading Score"]>=70
overall_pass = (school_analysis["Reading Score"]>=70) & (school_analysis["Math Score"]>=70)

## Insert Pass validation in School Analysis DataFrame
school_analysis.insert(len(school_analysis.columns), "Math Pass", math_pass, allow_duplicates=False)
school_analysis.insert(len(school_analysis.columns), "Reading Pass", reading_pass, allow_duplicates=False)
school_analysis.insert(len(school_analysis.columns), "Overall Pass", overall_pass, allow_duplicates=False)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
## DISTRICT SUMMARY

## 1. Compute District Summary

## Total number of schools
total_schools = len(school_data["School Name"])
## Total number of students
total_students = school_data["Total Students"].sum()
## Total budget
total_budget = school_data["Total School Budget"].sum()
## Average math score
avg_math_score = school_analysis["Math Score"].mean()
## Average reading score
avg_reading_score = school_analysis["Reading Score"].mean()
## Percentage of students with a passing math score (70 or greater)
pct_math_pass = school_analysis["Math Pass"].sum() / total_students
## Percentage of students with a passing reading score (70 or greater)
pct_reading_pass = school_analysis["Reading Pass"].sum() / total_students
## Percentage of students who passed math and reading (% Overall Passing)
pct_overall_pass = school_analysis["Overall Pass"].sum() / total_students

## 2. Create & Display District Summary DataFrame

district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [pct_math_pass],
    "% Passing Reading": [pct_reading_pass],
    "% Overall Passing": [pct_overall_pass]
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
## SCHOOL SUMMARY

## 1. Build School Summary DataFrame from School Data

school_summary = school_data[["School Name", "School Type", "Total Students", "Total School Budget"]]
## Set School Name as index
school_summary = school_summary.set_index("School Name", drop=True)
## Remove index name
school_summary.index.name = None

## 2. Compute and append columns

## Per Student Budget
school_summary["Per Student Budget"] = school_summary["Total School Budget"] / school_summary["Total Students"]
## Average Math Score
school_summary["Average Math Score"] = school_analysis.groupby("School Name")["Math Score"].mean()
## Average Reading Score
school_summary["Average Reading Score"] = school_analysis.groupby("School Name")["Reading Score"].mean()
## Passing Math Percentage
school_summary["% Passing Math"] = school_analysis.groupby("School Name")["Math Pass"].sum() / school_summary["Total Students"]
## Passing Reading Percentage
school_summary["% Passing Reading"] = school_analysis.groupby("School Name")["Reading Pass"].sum() / school_summary["Total Students"]
## Overall Passing Percentage (students that passed math and reading)
school_summary["% Overall Passing"] = school_analysis.groupby("School Name")["Overall Pass"].sum() / school_summary["Total Students"]

## 3. Display School Summary (alphabetical order)
school_summary.sort_index(axis=0)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
## Sort by "% Overall Passing" & Display top 5
school_summary.sort_values("% Overall Passing", ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
## Sort by "% Overall Passing" & Display bottom 5
school_summary.sort_values("% Overall Passing", ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type